.Highlight {
  position: absolute;
}

.HighlightParts {
  opacity: 0.75;
}

.HighlightPart {
  cursor: pointer;
  position: absolute;
  background: rgb(253, 191, 21);
  opacity: 0.75;
  transition: background 0.3s;
}

.Highlight__popup {
  background-color: #3d464d;
  border: 1px solid rgba(255, 255, 255, 0.25);
  color: white;
  padding: 0.5rem 1rem;
  border-radius: 3px;
  max-width: 300px;
  max-height: 100px;
  overflow-y: scroll;
}

.HighlightScrolledTo .HighlightPart {
  background: #df331f;
  opacity: 0.75;
}
